<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/856a41a9-129d-4bf9-9416-3df32e90b5a3/resourceGroups/arjuu1/providers/Microsoft.Web/sites/demoapptestaz</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demoapptestaz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e79e5cff-f146-40ee-8d92-96da8ab36ad8</ProjectGuid>
    <PublishUrl>https://demoapptestaz.scm.azurewebsites.net/</PublishUrl>
    <UserName>$demoapptestaz</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>